			<footer>
				<div class="container">
					<div class="col-md-6">
						<h4>North Kansas City</h4>
						5704 N. Beaman<br>
						Kansas City, MO 64151<br>
						816-741-0456
					</div>
					<div class="col-md-6">
						<h4>Independence</h4>
						16811 E. 18th St. N.<br>
						Independence, MO 64058<br>
						816-257-2220
					</div>
				</div>
				
				<br>
				
				<div class="container">
					<p>&copy; {{ .Now.Year }} {{ .Title }} | Website designed by <a href="{{ .Site.Params.website }}" target="_blank">{{ .Site.Params.author }}</a> and Shawn Dulude</p>
				</div>
			</footer>
		
	</body>

</html>